In [117]:
import pandas as pd

contratos = pd.read_csv('tabela_contratos.csv')

In [3]:
contratos

,id_contrato,nome_contrato,objeto_contrato,valor_contrato,inicio_vigencia,termino_vigencia,fk_empresa_contratada
0,1,13/2012,Contratação de Empresa para Ministrar Curso de...,94947.23,4,32,1
1,2,Disp. Lic. 1,Prestação de serviço na confecção de Chaves,5234.00,13,33,2
2,3,Disp. Lic. 2,Prestação de serviço na confecção de Carimbos,1800.00,10,33,3
3,4,32/2014,Serviço de Telefônia Móvel,73915.08,6,33,4
4,5,001/2014,Publicações no Diário Oficial da União,45000.00,8,35,5
...,...,...,...,...,...,...,...
179,180,13/2020,Contratação de serviços ofertados pelo SESI/Si...,134211.84,208,243,65
180,181,009/2018,Serviços de Suporte Tecnológico ao Ambiente d...,2107768.42,209,244,17
181,182,16/2020,Aquisição e Instalação de divisórias,5541773.00,212,246,66
182,183,18/2020,Manutenção Preventiva e corretiva dos elevador...,9600.00,213,247,67
183,184,20/2020,Contratação de Serviço comum de engenharia,102600.00,214,248,68

In [4]:
datas = pd.read_csv('tabela_datas.csv')

In [5]:
datas

     id_data        data
0          1  20/05/2014
1          2  27/09/2014
2          3  28/11/2014
3          4  20/12/2014
4          5  28/12/2014
..       ...         ...
249      250  24/10/2019
250      251  24/10/2020
251      252  05/11/2020
252      253  23/01/2020
253      254  31/09/2017

[254 rows x 2 columns]

In [6]:
empresas = pd.read_csv('tabela_empresas.csv')

In [7]:
empresas

    id_empresa       nome_empresa
0            1   Thomas Jefferson
1            2      Chaveiro City
2            3       HBL Carimbos
3            4          Claro S/A
4            5  Imprensa Nacional
..         ...                ...
63          64     Nara Comercial
64          65            SESI-DF
65          66              FORMA
66          67      IG Elevadores
67          68  Serôa Construtora

[68 rows x 2 columns]

In [14]:
contratos_emp = contratos.merge(empresas, left_on='fk_empresa_contratada', right_on='id_empresa', how='left')

In [15]:
contratos_emp

,id_contrato,nome_contrato,objeto_contrato,valor_contrato,inicio_vigencia,termino_vigencia,fk_empresa_contratada,id_empresa,nome_empresa
0,1,13/2012,Contratação de Empresa para Ministrar Curso de...,94947.23,4,32,1,1,Thomas Jefferson
1,2,Disp. Lic. 1,Prestação de serviço na confecção de Chaves,5234.00,13,33,2,2,Chaveiro City
2,3,Disp. Lic. 2,Prestação de serviço na confecção de Carimbos,1800.00,10,33,3,3,HBL Carimbos
3,4,32/2014,Serviço de Telefônia Móvel,73915.08,6,33,4,4,Claro S/A
4,5,001/2014,Publicações no Diário Oficial da União,45000.00,8,35,5,5,Imprensa Nacional
...,...,...,...,...,...,...,...,...,...
179,180,13/2020,Contratação de serviços ofertados pelo SESI/Si...,134211.84,208,243,65,65,SESI-DF
180,181,009/2018,Serviços de Suporte Tecnológico ao Ambiente d...,2107768.42,209,244,17,17,Central IT
181,182,16/2020,Aquisição e Instalação de divisórias,5541773.00,212,246,66,66,FORMA
182,183,18/2020,Manutenção Preventiva e corretiva dos elevador...,9600.00,213,247,67,67,IG Elevadores
183,184,20/2020,Contratação de Serviço comum de engenharia,102600.00,214,248,68,68,Serôa Construtora

In [16]:
contratos_emp.drop(columns=['id_empresa', 'fk_empresa_contratada'], inplace=True)

In [17]:
contratos_emp.head(10)

,id_contrato,nome_contrato,objeto_contrato,valor_contrato,inicio_vigencia,termino_vigencia,nome_empresa
0,1,13/2012,Contratação de Empresa para Ministrar Curso de...,94947.23,4,32,Thomas Jefferson
1,2,Disp. Lic. 1,Prestação de serviço na confecção de Chaves,5234.00,13,33,Chaveiro City
2,3,Disp. Lic. 2,Prestação de serviço na confecção de Carimbos,1800.00,10,33,HBL Carimbos
3,4,32/2014,Serviço de Telefônia Móvel,73915.08,6,33,Claro S/A
4,5,001/2014,Publicações no Diário Oficial da União,45000.00,8,35,Imprensa Nacional
5,6,002/2014,Prestação de serviço de Copeiragem,385986.11,9,36,3 R
6,7,003/2012,Manutenção Preventiva e Evolutiva Próton,47493.72,11,39,IKHON
7,8,001/2015,"Bilhetes de passagens aéreas, reservas, emissã...",380574.23,12,41,Aerotur
8,9,42064,Apoio administrativo 1 e 2,2043582.72,14,43,Sempre Alerta
9,10,Disp. Lic. 3,Assinatura do Jornal O Globo,1248.00,15,45,Infoglobo

In [20]:
contratos_emp_data = contratos_emp.merge(datas, left_on='inicio_vigencia', right_on='id_data', how='left')

In [22]:
contratos_emp_data.head(10)

,id_contrato,nome_contrato,objeto_contrato,valor_contrato,inicio_vigencia,termino_vigencia,nome_empresa,id_data,data
0,1,13/2012,Contratação de Empresa para Ministrar Curso de...,94947.23,4,32,Thomas Jefferson,4,20/12/2014
1,2,Disp. Lic. 1,Prestação de serviço na confecção de Chaves,5234.00,13,33,Chaveiro City,13,26/02/2015
2,3,Disp. Lic. 2,Prestação de serviço na confecção de Carimbos,1800.00,10,33,HBL Carimbos,10,10/02/2015
3,4,32/2014,Serviço de Telefônia Móvel,73915.08,6,33,Claro S/A,6,01/01/2015
4,5,001/2014,Publicações no Diário Oficial da União,45000.00,8,35,Imprensa Nacional,8,27/01/2015
5,6,002/2014,Prestação de serviço de Copeiragem,385986.11,9,36,3 R,9,28/01/2015
6,7,003/2012,Manutenção Preventiva e Evolutiva Próton,47493.72,11,39,IKHON,11,14/02/2015
7,8,001/2015,"Bilhetes de passagens aéreas, reservas, emissã...",380574.23,12,41,Aerotur,12,25/02/2015
8,9,42064,Apoio administrativo 1 e 2,2043582.72,14,43,Sempre Alerta,14,05/03/2015
9,10,Disp. Lic. 3,Assinatura do Jornal O Globo,1248.00,15,45,Infoglobo,15,18/03/2015

In [23]:
contratos_emp_data.drop(columns=['inicio_vigencia', 'id_data'], inplace=True)

In [24]:
contratos_emp_data.rename(columns={'data': 'data_inicio_vingencia'}, inplace=True)

In [25]:
contratos_emp_data.head(5)

,id_contrato,nome_contrato,objeto_contrato,valor_contrato,termino_vigencia,nome_empresa,data_inicio_vingencia
0,1,13/2012,Contratação de Empresa para Ministrar Curso de...,94947.23,32,Thomas Jefferson,20/12/2014
1,2,Disp. Lic. 1,Prestação de serviço na confecção de Chaves,5234.00,33,Chaveiro City,26/02/2015
2,3,Disp. Lic. 2,Prestação de serviço na confecção de Carimbos,1800.00,33,HBL Carimbos,10/02/2015
3,4,32/2014,Serviço de Telefônia Móvel,73915.08,33,Claro S/A,01/01/2015
4,5,001/2014,Publicações no Diário Oficial da União,45000.00,35,Imprensa Nacional,27/01/2015

In [26]:
contratos_inicio_fim = contratos_emp_data.merge(datas, left_on='termino_vigencia', right_on='id_data', how='left')

In [27]:
contratos_inicio_fim.drop(columns=['termino_vigencia', 'id_data'], inplace=True)

In [28]:
contratos_inicio_fim.rename(columns={'data': 'data_termino_vingencia'}, inplace=True)

In [29]:
contratos_inicio_fim.head(5)

,id_contrato,nome_contrato,objeto_contrato,valor_contrato,nome_empresa,data_inicio_vingencia,data_termino_vingencia
0,1,13/2012,Contratação de Empresa para Ministrar Curso de...,94947.23,Thomas Jefferson,20/12/2014,19/12/2015
1,2,Disp. Lic. 1,Prestação de serviço na confecção de Chaves,5234.00,Chaveiro City,26/02/2015,31/12/2015
2,3,Disp. Lic. 2,Prestação de serviço na confecção de Carimbos,1800.00,HBL Carimbos,10/02/2015,31/12/2015
3,4,32/2014,Serviço de Telefônia Móvel,73915.08,Claro S/A,01/01/2015,31/12/2015
4,5,001/2014,Publicações no Diário Oficial da União,45000.00,Imprensa Nacional,27/01/2015,26/01/2016

In [30]:
contratos_inicio_fim.count()

id_contrato               184
nome_contrato             184
objeto_contrato           184
valor_contrato            184
nome_empresa              184
data_inicio_vingencia     184
data_termino_vingencia    184
dtype: int64

In [31]:
contratos_inicio_fim.dtypes

id_contrato                 int64
nome_contrato              object
objeto_contrato            object
valor_contrato            float64
nome_empresa               object
data_inicio_vingencia      object
data_termino_vingencia     object
dtype: object

In [43]:
contratos_inicio_fim.data_inicio_vingencia = pd.to_datetime(contratos_inicio_fim.data_inicio_vingencia, format='%d/%m/%Y').dt.date

In [44]:
# existe uma data inválida, o código abaixo serve para achar qual data está errada e alterar.
for i in contratos_inicio_fim.data_termino_vingencia:
    print(i)
    print(pd.to_datetime(i))

2015-12-19
2015-12-19 00:00:00
2015-12-31
2015-12-31 00:00:00
2015-12-31
2015-12-31 00:00:00
2015-12-31
2015-12-31 00:00:00
2016-01-26
2016-01-26 00:00:00
2016-01-27
2016-01-27 00:00:00
2016-02-13
2016-02-13 00:00:00
2016-02-24
2016-02-24 00:00:00
2016-03-04
2016-03-04 00:00:00
2016-03-17
2016-03-17 00:00:00
2016-03-22
2016-03-22 00:00:00
2016-04-03
2016-04-03 00:00:00
2016-04-04
2016-04-04 00:00:00
2016-04-09
2016-04-09 00:00:00
2016-04-23
2016-04-23 00:00:00
2016-05-19
2016-05-19 00:00:00
2016-07-14
2016-07-14 00:00:00
2016-08-03
2016-08-03 00:00:00
2016-08-31
2016-08-31 00:00:00
2016-08-31
2016-08-31 00:00:00
2016-09-26
2016-09-26 00:00:00
2016-10-04
2016-10-04 00:00:00
2016-10-26
2016-10-26 00:00:00
2016-11-06
2016-11-06 00:00:00
2016-12-05
2016-12-05 00:00:00
2016-12-07
2016-12-07 00:00:00
2017-01-06
2017-01-06 00:00:00
2017-05-11
2017-05-11 00:00:00
2017-05-25
2017-05-25 00:00:00
2017-11-27
2017-11-27 00:00:00
2017-12-27
2017-12-27 00:00:00
2016-12-03
2016-12-03 00:00:00
2016-12-05
2016-12-05 00:00:00
2016-12-07
2016-12-07 00:00:00
2016-12-31
2016-12-31 00:00:00
2016-12-31
2016-12-31 00:00:00
2017-01-06
2017-01-06 00:00:00
2017-01-27
2017-01-27 00:00:00
2017-01-28
2017-01-28 00:00:00
2017-02-14
2017-02-14 00:00:00
2017-02-25
2017-02-25 00:00:00
2017-02-25
2017-02-25 00:00:00
2017-03-18
2017-03-18 00:00:00
2017-03-05
2017-03-05 00:00:00
2017-03-23
2017-03-23 00:00:00
2017-04-04
2017-04-04 00:00:00
2017-04-05
2017-04-05 00:00:00
2017-04-10
2017-04-10 00:00:00
2017-04-24
2017-04-24 00:00:00
2017-05-01
2017-05-01 00:00:00
2017-05-11
2017-05-11 00:00:00
2017-05-25
2017-05-25 00:00:00
2017-05-31
2017-05-31 00:00:00
2016-07-15
2016-07-15 00:00:00
2017-08-03
2017-08-03 00:00:00
2017-08-31
2017-08-31 00:00:00
2017-09-30
2017-09-30 00:00:00
2017-10-05
2017-10-05 00:00:00
2017-11-28
2017-11-28 00:00:00
2017-12-28
2017-12-28 00:00:00
2019-01-29
2019-01-29 00:00:00
2017-12-31
2017-12-31 00:00:00
2018-01-26
2018-01-26 00:00:00
2018-01-27
2018-01-27 00:00:00
2018-01-28
2018-01-28 00:00:00
2018-02-25
2018-02-25 00:00:00
2018-02-25
2018-02-25 00:00:00
2018-03-05
2018-03-05 00:00:00
2018-04-04
2018-04-04 00:00:00
2018-04-04
2018-04-04 00:00:00
2018-04-10
2018-04-10 00:00:00
2018-05-01
2018-05-01 00:00:00
2018-05-11
2018-05-11 00:00:00
2018-06-01
2018-06-01 00:00:00
2018-06-06
2018-06-06 00:00:00
2018-07-15
2018-07-15 00:00:00
2018-08-03
2018-08-03 00:00:00
2018-08-31
2018-08-31 00:00:00
2018-09-01
2018-09-01 00:00:00
2018-10-05
2018-10-05 00:00:00
2018-10-27
2018-10-27 00:00:00
2018-12-03
2018-12-03 00:00:00
2018-12-31
2018-12-31 00:00:00
2018-12-21
2018-12-21 00:00:00
2019-01-29
2019-01-29 00:00:00
2019-05-25
2019-05-25 00:00:00
2020-11-04
2020-11-04 00:00:00
2018-12-31
2018-12-31 00:00:00
2018-12-31
2018-12-31 00:00:00
2019-01-26
2019-01-26 00:00:00
2019-01-27
2019-01-27 00:00:00
2019-01-28
2019-01-28 00:00:00
2019-01-31
2019-01-31 00:00:00
2019-02-25
2019-02-25 00:00:00
2019-03-05
2019-03-05 00:00:00
2019-03-26
2019-03-26 00:00:00
2019-04-04
2019-04-04 00:00:00
2019-04-04
2019-04-04 00:00:00
2019-04-10
2019-04-10 00:00:00
2019-05-01
2019-05-01 00:00:00
2019-05-11
2019-05-11 00:00:00
2019-05-25
2019-05-25 00:00:00
2019-06-06
2019-06-06 00:00:00
2019-06-18
2019-06-18 00:00:00
2019-07-27
2019-07-27 00:00:00
2019-08-03
2019-08-03 00:00:00
2019-08-31
2019-08-31 00:00:00
2019-09-01
2019-09-01 00:00:00
2019-09-14
2019-09-14 00:00:00
2019-09-20
2019-09-20 00:00:00
2019-10-05
2019-10-05 00:00:00
2019-11-13
2019-11-13 00:00:00
2019-12-21
2019-12-21 00:00:00
2019-12-30
2019-12-30 00:00:00
2020-11-04
2020-11-04 00:00:00
2019-06-06
2019-06-06 00:00:00
2020-01-31
2020-01-31 00:00:00
2020-03-04
2020-03-04 00:00:00
2020-03-11
2020-03-11 00:00:00
2020-03-13
2020-03-13 00:00:00
2020-04-05
2020-04-05 00:00:00
2020-04-10
2020-04-10 00:00:00
2020-01-23
2020-01-23 00:00:00
2020-05-01
2020-05-01 00:00:00
2020-05-13
2020-05-13 00:00:00
2020-05-13
2020-05-13 00:00:00
2020-06-17
2020-06-17 00:00:00
2020-06-18
2020-06-18 00:00:00
2020-08-03
2020-08-03 00:00:00
2020-06-06
2020-06-06 00:00:00
2020-07-27
2020-07-27 00:00:00
2020-08-31
2020-08-31 00:00:00
2020-10-05
2020-10-05 00:00:00
2020-10-10
2020-10-10 00:00:00
2020-10-24
2020-10-24 00:00:00
2020-11-05
2020-11-05 00:00:00
2020-11-04
2020-11-04 00:00:00
2020-11-07
2020-11-07 00:00:00
2020-11-28
2020-11-28 00:00:00
2020-11-13
2020-11-13 00:00:00
2020-12-30
2020-12-30 00:00:00
2020-12-21
2020-12-21 00:00:00
2020-12-31
2020-12-31 00:00:00
2020-12-31
2020-12-31 00:00:00
2021-01-05
2021-01-05 00:00:00
2021-01-24
2021-01-24 00:00:00
2021-02-11
2021-02-11 00:00:00
2021-05-10
2021-05-10 00:00:00
2020-10-05
2020-10-05 00:00:00
2020-10-14
2020-10-14 00:00:00
2020-11-04
2020-11-04 00:00:00
2020-11-07
2020-11-07 00:00:00
2020-11-28
2020-11-28 00:00:00
2020-11-13
2020-11-13 00:00:00
2020-11-19
2020-11-19 00:00:00
2020-12-30
2020-12-30 00:00:00
2020-12-21
2020-12-21 00:00:00
2020-12-31
2020-12-31 00:00:00
2020-12-31
2020-12-31 00:00:00
2020-12-31
2020-12-31 00:00:00
2021-01-05
2021-01-05 00:00:00
2021-01-24
2021-01-24 00:00:00
2021-02-11
2021-02-11 00:00:00
2021-02-21
2021-02-21 00:00:00
2021-03-16
2021-03-16 00:00:00
2021-03-27
2021-03-27 00:00:00
2021-04-05
2021-04-05 00:00:00
2021-05-01
2021-05-01 00:00:00
2021-04-10
2021-04-10 00:00:00
2021-05-10
2021-05-10 00:00:00
2021-05-14
2021-05-14 00:00:00
2021-05-22
2021-05-22 00:00:00
2021-05-22
2021-05-22 00:00:00
2021-06-18
2021-06-18 00:00:00
2020-06-25
2020-06-25 00:00:00
2021-06-16
2021-06-16 00:00:00
2021-06-24
2021-06-24 00:00:00
2021-08-04
2021-08-04 00:00:00
2021-07-13
2021-07-13 00:00:00
2021-07-24
2021-07-24 00:00:00
2021-07-27
2021-07-27 00:00:00
2021-08-19
2021-08-19 00:00:00
2021-08-31
2021-08-31 00:00:00
2021-09-08
2021-09-08 00:00:00

In [45]:
contratos_inicio_fim.data_termino_vingencia = contratos_inicio_fim.data_termino_vingencia.str.replace('31/09/2017', '30/09/2017')

AttributeError: Can only use .str accessor with string values!

In [46]:
contratos_inicio_fim.data_termino_vingencia = pd.to_datetime(contratos_inicio_fim.data_termino_vingencia, format='%d/%m/%Y').dt.date

In [47]:
contratos_inicio_fim.dtypes

id_contrato                 int64
nome_contrato              object
objeto_contrato            object
valor_contrato            float64
nome_empresa               object
data_inicio_vingencia      object
data_termino_vingencia     object
dtype: object

In [42]:
contratos_inicio_fim.head(5)

,id_contrato,nome_contrato,objeto_contrato,valor_contrato,nome_empresa,data_inicio_vingencia,data_termino_vingencia
0,1,13/2012,Contratação de Empresa para Ministrar Curso de...,94947.23,Thomas Jefferson,2014-12-20,2015-12-19
1,2,Disp. Lic. 1,Prestação de serviço na confecção de Chaves,5234.00,Chaveiro City,2015-02-26,2015-12-31
2,3,Disp. Lic. 2,Prestação de serviço na confecção de Carimbos,1800.00,HBL Carimbos,2015-02-10,2015-12-31
3,4,32/2014,Serviço de Telefônia Móvel,73915.08,Claro S/A,2015-01-01,2015-12-31
4,5,001/2014,Publicações no Diário Oficial da União,45000.00,Imprensa Nacional,2015-01-27,2016-01-26

In [48]:
contratos_inicio_fim['dias_contrato'] = (contratos_inicio_fim.data_termino_vingencia - contratos_inicio_fim.data_inicio_vingencia)

In [49]:
contratos_inicio_fim.head(5)

,id_contrato,nome_contrato,objeto_contrato,valor_contrato,nome_empresa,data_inicio_vingencia,data_termino_vingencia,dias_contrato
0,1,13/2012,Contratação de Empresa para Ministrar Curso de...,94947.23,Thomas Jefferson,2014-12-20,2015-12-19,"364 days, 0:00:00"
1,2,Disp. Lic. 1,Prestação de serviço na confecção de Chaves,5234.00,Chaveiro City,2015-02-26,2015-12-31,"308 days, 0:00:00"
2,3,Disp. Lic. 2,Prestação de serviço na confecção de Carimbos,1800.00,HBL Carimbos,2015-02-10,2015-12-31,"324 days, 0:00:00"
3,4,32/2014,Serviço de Telefônia Móvel,73915.08,Claro S/A,2015-01-01,2015-12-31,"364 days, 0:00:00"
4,5,001/2014,Publicações no Diário Oficial da União,45000.00,Imprensa Nacional,2015-01-27,2016-01-26,"364 days, 0:00:00"

In [51]:
contratos_inicio_fim.nome_contrato.value_counts()

nome_contrato
004/16           5
42064            5
006/2015         5
005/2015         5
005/2016         4
                ..
Disp. Lic. 24    1
Disp. Lic. 23    1
Disp. Lic. 22    1
Disp. Lic. 21    1
20/2020          1
Name: count, Length: 122, dtype: int64

In [52]:
contratos_inicio_fim[contratos_inicio_fim.nome_contrato == '004/16']

,id_contrato,nome_contrato,objeto_contrato,valor_contrato,nome_empresa,data_inicio_vingencia,data_termino_vingencia,dias_contrato
49,50,004/16,Serviços de Telefonia Móvel (Celulares),67461.0,Claro S/A,2016-05-01,2017-05-01,"365 days, 0:00:00"
71,72,004/16,Serviços de Telefonia Móvel (Celulares),67461.0,Claro S/A,2017-05-01,2018-05-01,"365 days, 0:00:00"
99,100,004/16,Serviços de Telefonia Móvel (Celulares),67461.0,Claro S/A,2019-05-01,2019-05-01,0:00:00
123,124,004/16,Serviços de Telefonia Móvel (Celulares),67461.0,Claro S/A,2019-05-01,2020-05-01,"366 days, 0:00:00"
167,168,004/16,Serviços de Telefonia Móvel (Celulares),62780.6,Claro S/A,2020-05-01,2021-05-01,"365 days, 0:00:00"

In [53]:
contratos_inicio_fim.dias_contrato.value_counts()

dias_contrato
365 days     88
366 days     45
364 days     10
1096 days     8
730 days      2
352 days      2
731 days      2
0 days        2
749 days      2
359 days      2
750 days      2
722 days      2
1095 days     2
729 days      2
350 days      1
531 days      1
179 days      1
182 days      1
-2 days       1
340 days      1
353 days      1
363 days      1
324 days      1
339 days      1
308 days      1
394 days      1
295 days      1
Name: count, dtype: int64

In [61]:
contratos_inicio_fim.drop([99], inplace=True)

In [62]:
contratos_inicio_fim[contratos_inicio_fim.nome_contrato == '004/16']

,id_contrato,nome_contrato,objeto_contrato,valor_contrato,nome_empresa,data_inicio_vingencia,data_termino_vingencia,dias_contrato
49,50,004/16,Serviços de Telefonia Móvel (Celulares),67461.0,Claro S/A,2016-05-01,2017-05-01,"365 days, 0:00:00"
71,72,004/16,Serviços de Telefonia Móvel (Celulares),67461.0,Claro S/A,2017-05-01,2018-05-01,"365 days, 0:00:00"
123,124,004/16,Serviços de Telefonia Móvel (Celulares),67461.0,Claro S/A,2019-05-01,2020-05-01,"366 days, 0:00:00"
167,168,004/16,Serviços de Telefonia Móvel (Celulares),62780.6,Claro S/A,2020-05-01,2021-05-01,"365 days, 0:00:00"

In [84]:
contratos_inicio_fim.reset_index(drop=True, inplace=True)

In [85]:
contratos_inicio_fim.tail()

,id_contrato,nome_contrato,objeto_contrato,valor_contrato,nome_empresa,data_inicio_vingencia,data_termino_vingencia,dias_contrato
178,180,13/2020,Contratação de serviços ofertados pelo SESI/Si...,134211.84,SESI-DF,2020-07-24,2021-07-24,"365 days, 0:00:00"
179,181,009/2018,Serviços de Suporte Tecnológico ao Ambiente d...,2107768.42,Central IT,2020-07-27,2021-07-27,"365 days, 0:00:00"
180,182,16/2020,Aquisição e Instalação de divisórias,5541773.00,FORMA,2020-08-19,2021-08-19,"365 days, 0:00:00"
181,183,18/2020,Manutenção Preventiva e corretiva dos elevador...,9600.00,IG Elevadores,2020-08-31,2021-08-31,"365 days, 0:00:00"
182,184,20/2020,Contratação de Serviço comum de engenharia,102600.00,Serôa Construtora,2020-09-08,2021-09-08,"365 days, 0:00:00"